@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    color: $color;
}