.container {
    max-width: 972px;
    margin: 0 auto;
    padding: 20px;
}

.details {
    @include flex(space-between, center);

    &--date {
        @include font(400, 12px, #718096);
    }

    &--link {
        @include font(700, 12px, #2D3748);
        text-decoration: none;
    }
}

@media screen and (max-width: 752px) {
    .details {
        &--date {
            @include font(300, 9px, #718096);
        }

        &--link {
            @include font(600, 9px, #2D3748);
        }
    }
}